
<h1>Edit details</h1>

<%= form_for :user, url: user_edit_path(@user), method: :put do |f| %>
 <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
 <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>

  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
   <%= f.submit %>
<% end %>

<br><%= link_to 'back', users_list_path %>