<h1>List of users</h1>


<table border="1">
	<tr>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Email</th>

	</tr>

	<% @user.each do |u| %>
	<tr>
		<td><%= u.first_name %></td>
			<td><%= u.last_name %></td>
				<td><%= u.email %></td>
				<td><%= link_to 'edit', user_edit_path(u) %></td>
				<td><%= link_to 'delete', user_delete_path(u), method: :delete %></td>
				

	</tr>
	<% end %>
</table>
<br>
<%= link_to 'Sign Up', user_new_path %>