
<h1>New Project</h1>

<%= form_for :project do |f| %>

 <p>
    <%=  f.label :name %><br />
    <%= f.text_field :name %> 
  </p>
 <p>
    <%= f.label :duration %><br />
    <%= f.text_field :duration %>
    </p>

  <p>
    <%= f.label :teamsize %><br />
    <%= f.text_field :teamsize %>
  </p>
  <p>
    <%= f.label :cost %><br />
    <%= f.text_field :cost %>
  </p>

    <p>
    <%= f.label :domain %><br />
    <%= f.text_field :domain %>
  </p>
 
 <%= f.submit %>
<% end %>


